.article-form{
  font-family: $sans-pro;
  margin: $large-size auto;
  * {
    border: none;
    margin-left: $large-size;
    margin-bottom: $extra-large-size; 
  }
}

.article-form__title{
  display: block;  
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  width: 60%;
}

.article-form__select{
  font-size: $font-size-medium;
  height: 30px;
  width: 25%;
}

.article-form__body{
  display: block;
  font-family: $serif-pro;
  font-size: 30px;
  resize: none;
  width: 100%;
}

.article-form__image{
  display: block;  
  font-size: 30px;
  height: 50px;
  width: 60%;
}