.article{
  font-size: $font-size-large;  
  line-height: 1.8;
  margin: 20px auto;
  & > h3{
    font-family: $sans-pro;
  }
}

.article__title{
  font-family: $sans-pro;
  font-size: $font-size-title;
  font-weight: 700;
}

.article__like{
  background: #fff;
  border: 2px solid $grey;
  border-radius: 5px;
  color: darken($color: $grey, $amount: 10%);
  font-size: $font-size-small;
  padding: $extra-small-size $small-size;
  &:hover{
    border-color: darken($color: $grey, $amount: 25%);
    color: darken($color: $grey, $amount: 25%);
  }
}

.article__suggestions{
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  a{
    text-decoration: none;
  }
  div{
    padding-left: $extra-small-size;
  }
  & > li{
    display: inline-block;
    list-style: none;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    width: 30%;
  }
  h3{
    color: #000;
    font-family: $sans-pro;
    font-size: $font-size-medium;
    margin: 0 0 $extra-small-size 0;
    font-weight: 700;
  }
  a > img{
    width: 100%;
  }
}