.article-list{
  display: grid;
  grid-auto-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: $large-size;
  margin: 0 auto;
  width: 80%;
}

.article-list__article{
  text-align: center;
  &:nth-child(odd){
    grid-column: 1/3;
  }
  &:nth-child(even){
    grid-column: 3/5;
  }
  & > div{
    margin: 0 auto;
  }
}

.article-list__article-title{
  font-size: $large-size;
  font-weight: 500;
}

.article-list__article-image{
  width: 100%;
  height: auto;
}