.authentication-form{
  font-family: $sans-pro;
  margin: $large-size auto;
}

.authentication-form__title{
  font-size: $font-size-large;
  font-weight: 400;
  text-align: center;
}

.authentication-form__row{
  display: flex;
  justify-content: space-around;
  margin-bottom: $medium-size;
}

.authentication-form__button{
  text-align: center;
}
