.button{
  border: 2px solid darken($grey, 10%) !important; 
  border-radius: 5px;
  background: #fff;
  color: darken($grey, 10%);
  font-size: $font-size-medium;
  font-family: $sans-pro;
  font-weight: 500;
  padding: $extra-small-size;
}