.comment{
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  padding: $medium-size;
  p{
    font-size: $font-size-large;
    font-weight: 700;
    margin-left: $extra-small-size;
  }
  & > p{
    font-weight: 400;
    font-size: $font-size-medium;
  }
}