.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal{
  background-color: rgba($color: #fff, $alpha: 0.8);
  border: 1px solid $grey;
  height: 70vh;
  padding: $large-size;
  width: 70vh;
}

.modal__close{
  float: right;
  font-weight: bold;
  font-size: $font-size-medium;
  text-decoration: none;
}