html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: 'Crimson Text', serif;
  font-size: $medium-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
